extends layout

block content
  
  .col-3.center
    form(action="/login", method="post") 
     .form-group
       label(for='username') Username
       input#username.form-control(name='username', type='text', required='required')
     .form-group
       label(for='password') Password
       input#password.form-control(name='password', type='password', required='required')
     .form-group
       div 
        button.btn.btn-primary(name='submit', type='submit') Login
       div Not Signed Up? 
        a(href='/signup') Sign Up
