extends layout

block content
  .col-12.headBar Revolt
  .col-3.center
    form
      .form-group
        label(for='username') Username
        input#username.form-control(name='username', type='text', required='required')
      .form-group
        label(for='password') Password
        input#password.form-control(name='password', type='password', required='required')
      .form-group
        label(for='text') Re-enter Password
        input#text.form-control(name='text', type='password', required='required')
      .form-group
        button.btn.btn-primary(name='submit', type='submit') Login
        p Already Signed Up? 
          a(href='/') Log In